{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock title %}

{% block body %}
    <div>
        <h1>Esta es nuestra página de bienvenida</h1>
        <p class="lead">Descripción de la página de bienvenida.</p>
    </div>
{% endblock %}