{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock title %}

{% block body %}
    <div>
        <h1>Esta es nuestra p치gina de bienvenida Bienvenido a la p치gina</h1>
        <p class="lead">Descripci칩n de la p치gina de bienvenida.</p>
    </div>
{% endblock %}