{% extends 'base.html.twig' %}

{% block title%} Artículos {% endblock %}

{% block body %}

    {% if articles %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Título Artículo</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        {%  for article in articles %}
          <tr>
            <td>{{ article }}</td>
            <td>
              <a href="/article/1" class="btn btn-dark">Ver</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No hay artículos</p>
  {% endif %}
    
    
 {% endblock %}
